@media (max-width: $breakpoint_xl){
    body {
        header {
            .header__content {
                .header__section {
                        .header__section-info {
                            .header__section-title {
                                text-align: center;
                                margin: 5% 5% 5% 5%;
                            }
                            .header__section-offers {
                                    .header__section-a {
                                        margin: 2%;
                                    } 
                                }
                            }
                        }
                }
            }
        }
    }

    @media (max-width: $breakpoint_l){
        body {
            header {
                .header__content {
                    .header__section {
                            .header__section-info {
                                        .header__section-title {
                                            text-align: center;
                                            margin: 5% 5% 5% 5%;
                                        }

                                            .header__section-offers {
                                                gap: 20px; 
                                                flex-wrap: wrap;

                                        .header__section-a {
                                            max-width: 350px;
                                            margin: 2%;
                                        } 

                                    }
                                    }
                                }
                            }
                    }
                }
            }
        



@media (max-width: $breakpoint_sm){
    body {
        header {
            .header__content {
                .header__section {
                        .header__section-info {
                            .header__section-title {
                                text-align: center;
                                margin: 5% 5% 5% 5%;
                            }
                            .header__section-offers {
                                .header__section-a {
                                    max-width: 300px;
                                    margin: 5%;
                                }
                            }
                        }
                }
            }
        }
    }
}

@media (max-width: $breakpoint_s){
    body {
        header {
            .header__content {
                .header__section {
                        .header__section-info {
                            .header__section-title {
                                text-align: center;
                                margin: 5% 5% 5% 5%;
                            }
                            .header__section-offers {
                                gap: 10px;

                                .header__section-a {
                                    max-width: 200px;

                                    &:hover {
                                        opacity: 1;
                                        transform:  scale(1.3);
                                    }
                                }

                                .header__section-offer {
                                    font-size: 10px;
                                    strong {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                }
            }
        }
    }
}

