body {
    .header__content {
        .reserve__form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 3vh;

            max-width: 1000px;
            padding: 5vh;
            

            background-color: rgba(0, 0, 0, 0.8) ;
            color: #D7D7D7;

            .reserve__form-title{
                font-size: 50px;
                font-weight: 800;
                color: #D7D7D7;
                transition: 0.5s ease-in-out;   
                text-align: center;
                padding: 5vh;
            }

            .reserve__form-input {
                display: flex;
                flex-direction: column;
                align-items: flex-start;  
                gap: 3vh;

                input {
                    display: flex;
                    flex-direction: column;  
                    width: 200px;
                    height: 30px;
                    border-bottom: solid 2px #D7D7D7;
                    color: #ffffff;  
                }                 
            }

            .reserve__input-label {
                display: flex;
                flex-direction: column; 
                gap: 3vh;
                margin-top: 3vh;
                
                .reserve__submit-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: center;
                    
                    width: 120px;
                    height: 40px;
                    border: solid 2px white;
                    border-radius: 20px;
                    margin-top: 3vh;

                    transition: 0.5s ease-in-out;

                    &:hover {
                        background-color: #D7D7D7;
                        color:black;
                        transition: 0.5s ease-in-out;
                    }
                }
            }
    }
}

}

// Меняем цвет стандартной иконки часов и даты

input[type="time"]::-webkit-calendar-picker-indicator  {
	filter: invert(100%) sepia(0%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);   
}

input[type="date"]::-webkit-calendar-picker-indicator  {
	filter: invert(100%) sepia(0%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}